/node_modules
/*.env
npm-debug.log
.DS_Store
/templates
# Local Netlify folder
.netlify
/dist
/coverage
report.html

#VSCODE Files
./vscode

#set of configuration files
.idea/*

# Gradle internal files
.gradle/